ELA_BASE_URL=https://ela.kpi.ua/server/api
ELA_EMAIL=
ELA_PASSWORD=your_password_here
ELA_COLLECTION_MAGISTR=e475e84c-48ff-4236-9633-694b923e4a82
ELA_COLLECTION_BAKALAVR=13647e65-d1d5-49d3-abfb-49957e3b0d00
