# Креденшили
.env
!.env.example

# Метадані робіт
*.yaml
*.yml

# Папки зі студентськими роботами
*_magistr/
*_bakalavr/

# Логи
upload_log_*.txt

# Python
__pycache__/
*.pyc

# uv
.venv/
.python-version
uv.lock

# OS
.DS_Store
Thumbs.db

# PDF роботи
*.pdf